.userBox {
  display: flex;
}

.userBox div {
  width: 50%;
}

.userBox ul {
  padding: 0;
  text-align: left;
  list-style: none;
}

.userBox li {
  padding: 10px 24px;
}

.leftPan li {
  cursor: pointer;
}

.leftPan li:hover {
  color: red;
}
